<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="Exception" fileName="logs/exceptions.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>         </File>
        <File name="SearchStations" fileName="logs/search.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>         </File>
        <File name="InputError" fileName="logs/input_errors.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
        </File>
    </appenders>

    <loggers>
        <root level="debug">
            <appender-ref ref="Exception" level="ERROR"/>
            <appender-ref ref="SearchStations" level="INFO"/>
            <appender-ref ref="InputError" level="WARN"/>
        </root>
    </loggers>
</configuration>